:root{
    --blue-primary:#0095f6;
    --gray-primary:#d6d8da;
    --white-primary:#fff;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--gray-primary);
    display: flex;
    justify-content: center;
}

.instagram-container{
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.box-instagram-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.box-instagram-image img{
    height: 50rem;
}

.box-instagram-login{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 35rem;
    justify-content: space-around;
    align-items: center;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-primary);
    width: 100%;
    padding: 0.8rem 0;

}

.group:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 28rem;
    margin-top: 5rem;
}

.container-image-user{
    min-height: 15rem;
    display: flex;
    align-items: center;
}

.container-image-user img{
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 70px;
}

.button-continue{
    width: 18rem;
    height: 2rem;
    background-color: var(--blue-primary);
    color: var(--white-primary);
    border: 1px solid var(--blue-primary);
    border-radius: 15px;
    cursor: pointer;
}

.link-delete-account{
    color: var(--blue-primary);
}

.container-account{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.not-container-account {
    color: var(--gray-primary);
    cursor: pointer;
}


.links-group{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.link-blue{
    color: var(--blue-primary);
}

.container-get-app{
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-evenly;
    height: 8rem;
}

.get-app{
    font-size: 1.2rem;
    font-weight: bold;
}

.download{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.download a img{
    height: 3rem;
}

/* media responsiva */

@media screen and (max-width:1024px) {
    .instagram-container{
        width: 90%;
    }
}

@media screen and (max-width:768px) { 
    
    .instagram-container{
        justify-content: space-around;
    }

    .box-instagram-image{
         display: none;
    }

    .group:nth-child(1){
        margin: 0;
    }

    .box-instagram-login{
        width: 80%;
    }
}